@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Robort";
  src: url("../public/fonts/mono/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-robort: "Robort"
}

html{
  scroll-behavior: smooth;
}

/* ---------- SCROLLBAR STYLING ---------- */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5f5; /* soft blue-gray */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 transparent;
}